# Ignorar node_modules
node_modules
# Ignorar Session data
session
# Ignorar package-lok
package-lock.json
#Ignorar .env
*.env
#Ignorar logs
*.log
logs/session/*
#Ignorar arquivos db
database/db/*.db
#Ignorar arquivos json
database/json/*.json
#Ignorar imagens pasta figurinhas
figurinhas/*.png
figurinhas/*.jpg
